/*------layout styles------*/
html{
  font-size: 100.01%;
  height: 100%;
  width:  100%;
}

body{
  font-size: 14px;
  position: relative;
  min-height:100%;
  font-family: GothamSSm-Book;
  background-color:#d9d9d9;
}
