<!-- {{outlet}} -->
<div class="about-article">
  <img src="/CrazyDolphinTeam-game-team/assets/images/pacman-screenshot.png" />
  <h2>PACMAN</h2>
  <p>
      Use the arrow keys to move, eat all the dots and avoid the ghosts. Eat the big dots to be able to attack the ghosts.
  </p>


</div>
