<header class="navigation-container">
    <ul class="game-navigation">
        <li>

           {{!-- {{#link-to 'pac-man' class="navigation-link"}} Play {{/link-to}}--}}

        </li>
        <li>

            {{#link-to 'about' class="navigation-link"}} About {{/link-to}}

        </li>
        <li>

            {{#link-to 'index' class="navigation-link exit-link"}} Exit {{/link-to}}

        </li>

    </ul>



</header>

    {{outlet}}

