extends layout
include mixins/_eventCard
include mixins/_pagination

block content
  .inner
    h2= title
    .events
      each event in events
        +eventCard(event)
    +pagination(page, pages, count)    
