/*----gallery block----*/
.gallery {
  margin-top: -290px;
  position: relative;
  color: $light;
  &__description {
    position: absolute;
    top:50%;
    margin-top:-65px;
    left: 98px;
    .gallery__info {
      @include hind(semibold);
      font-size: 18px;
      letter-spacing: 3px;
      margin-bottom:20px;
    }//.gallery__info
    .gallery__title {
      @include hind(bold);
      font-size: 40px;
      text-transform: uppercase;
      letter-spacing: 5px;
      &-link {
        color:$light;
        transition: all .3s ease-in;
        &:hover {
          color: #fffccc;
        }
      }
    }//.gallery__title
  }//.gallery__description
  &__navigation{
    position: absolute;
    top:50%;
    margin-top:-30px;
    right: -70px;
    transform: rotate(-90deg);
    // transform-origin: left top 0;
  }//.gallery__navigation
}//.gallery

.gallery__pagination {
  font-size: 0;
  text-align: center;
  &-link {
    @include inlineblock(top);
    margin: 0 5px;
    width: 8px;
    height: 8px;
    border: 1px solid $light;
    margin-bottom: 20px;
    transition: all .3s ease-in;
    &:hover {
      background-color: #999999;
    }
  }
}//.gallery__pagination

.gallery__buttons {
  font-size: 0;
  .gallery__arrow-prev, .gallery__arrow-next, .gallery__buttons-text {
    @include inlineblock(middle);
    margin: 0 10px;
  }
  .gallery__arrow-prev, .gallery__arrow-next {
    &:before {
      font-family: FontAwesome;
      color:$light;
      font-size: 20px;
      font-weight: thin;
      position: relative;
      top: -2px;
    }
  }
  .gallery__arrow-prev {
    &:before {
      content: "\f177";
    }
  }//.gallery__arrow-prev
  &-text {
    @include hind(semibold);
    font-size: 14px;
    letter-spacing: 3px;
    text-transform: uppercase;
  }//.gallery__navigation-text
  .gallery__arrow-next {
    &:before {
      content: "\f178";
    }
  }//.gallery__arrow-next
}//.gallery__buttons
