/*-----content area-----*/
.content-wrapper {
  background-color: $content-bg;
  .container {
    background-color: $content-bg;
  }
}
/*-----subscribe block-----*/
.subscribe {
  @include clearfix;
  padding: 20px 0;
  margin: 0 0 75px 0;
  background-color: $subscribe-bg;
  border-bottom: 1px solid #f5f5f7;
  &__title {
    @include montserrat(bold);
    font-size: 20px;
    line-height: 1.4;
    text-transform: uppercase;
    color:$dark; 
    float:left;
    margin: -3px 50px 0 30px;
    letter-spacing: 3.5px;
  }
  &__form-group {
    float: left;
    margin-right: 30px;
  }
  &__form-control {
    border: 1px solid #f3f3f3;
    background-color: $light;
    text-transform: uppercase;
    padding: 17px 30px 12px;
    letter-spacing: 1.5px;
    width: 449px;
    @include hind(light);
  }
  &__submit {
    box-shadow: 0px 0px 1px 0px rgb( 232, 232, 232 );
    border: none;
    cursor:pointer;
    text-transform: uppercase;
    background-color: $dark;
    color: $light;
    letter-spacing: 3px;
    font-size: 14px;
    @include hind(medium);
    padding: 19px 70px 13px;
  }
}

/*-----main content block-----*/
.content {
  font-size: 0;
  margin-bottom: 58px;
  &__section {
    @include inlineblock(top);
    width:360px;
    margin-right: 30px;
    &:last-child {
      margin-right: 0;
    }
  }
  &__article {
    text-align: center;
    transition: all .3s ease-in;
    &:hover {
      box-shadow: 0px 3px 29px 12px rgba( 112, 112, 112,.5 );
    }
    &.content__article--light {
      background-color: $light;
      border: 1px solid #f1f1f3;
    }
    &.content__article--long {
      height: 555px;
      position: relative;
    }
    &.content__article--light-empty {
      height: 512px;
    }
    &.content__article--imaged {
      background: url(../images/content-item-bg.jpg) center center no-repeat;
    }
    &.content__article--dark {
      background-color: $dark;
      .content__info {
        padding: 0 21px;
      }
    }
    &.content__article--dark-empty {
      height: 289px;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
  &__standard-image {
    height: 255px;
    background-color: $light-gray;
  }
  &__standard-video {
    height: 255px;
    background: $light-gray url(../images/video-player.png) center bottom no-repeat;
  }
  &__info {
    padding: 0 21px 30px;
  }
  &__icon {
    display: inline-block;
    width: 40px;
    height: 35px;
    position: relative;
    margin-top: -17.5px;
    &:before {
      content: '';
      @include absolute-center;
    }
    &.content__icon--light {
      background-color: $light;
    }
    &.content__icon--dark {
      background-color: $dark;
    }
    &.content__icon--pencil {
      &:before {
        width:16px;
        height:16px;
        background: url("../images/icon-pencil.png") center center no-repeat;
      }  
    }
    &.content__icon--picture {
      &:before {
        width:26px;
        height:20px;
        background: url("../images/icon-picture.png") center center no-repeat;
      }
    }
    &.content__icon--quote {
      &:before {
        width:13px;
        height:14px;
        background: url("../images/icon-quote.png") center center no-repeat;
      }
    }
    &.content__icon--video {
      &:before {
        width:26px;
        height:22px;
        background: url("../images/icon-video.png") center center no-repeat;
      }
    }
    &.content__icon--link {
      &:before {
        width:21px;
        height:21px;
        background: url("../images/icon-link.png") center center no-repeat;
      }
    }
    &.content__icon--windows {
      &:before {
        width:17px;
        height:17px;
        background: url("../images/icon-windows.png") center center no-repeat;
      }
    }
    &.content__icon--sound {
      &:before {
        width:15px;
        height:17px;
        background: url("../images/icon-sound.png") center center no-repeat;
      }
    }
  }
  &__audio-player {
    width:135px;
    height: 135px;
    margin: 25px auto 130px;
    background-color: #999999;
    border-radius: 50%;
  }
  &__description {
    color: #999999;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    &:first-of-type {
      padding: 40px 0 0;
    }
  }
  &__title {
    @include montserrat(bold);
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 1px;
    margin:11px 0;
  }
  &__text {
    color: #464646;
    @include hind(medium);
    line-height: 1.867;
    letter-spacing: 1.3px;
    font-size: 15px;
    margin:20px 0 0 ;
    &-light{
      color: $light;
      @include hind(light);
      line-height: 1.647;
      font-size: 17px;
      padding: 40px 0 0 0;
      letter-spacing: 1.5px;
    }
  }
  &__link-wrapper {
    padding: 45px 0 60px;
  }
  &__link-light {
    color:$light;
    @include hind(light);
    font-size: 17px;
    display: block;
    line-height: 1.75;
    letter-spacing: 2px;
    cursor: pointer;
    // text-decoration: underline;
    // &:hover {
    //   text-decoration: none;
    // }
    span {
      transition: all .3s ease-in;
      border-bottom: 1px solid $light;
      &:hover {
        border-bottom: none;
      }
    }
  }
  &__author {
    padding:35px 0;
    text-transform: uppercase;
    font-size: 14px;
    color: #999999;
    @include hind(semibold);
    letter-spacing: 1px;
  }
  &__details {
    @include hind(semibold);
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #212121;
    margin: 30px 0 0;
    padding: 10px;
    display: inline-block;
    border-right: 1px solid #d7d7d7;
    border-left: 1px solid #d7d7d7;
    transition: all .3s ease-in;
    &:hover {
      transform: scale(1.1);
    }
    &.content__details--top-bordered {
      border-right: none;
      border-left: none;
      color: #999999;
      &:before {
        content: '';
        background-color: #d7d7d7;
        height: 1px;
        width:30px;
        position: relative;
        top:-7px;
        display: block;
        margin: 0 auto;
      }
      &:after {
        content: '';
        background-color: #d7d7d7;
        height: 1px;
        width:30px;
        position: relative;
        bottom:-7px;
        display: block;
        margin: 0 auto;
      }
    }
  }
  &__social {
    @include clearfix;
    padding: 25px 30px 20px;
    border-top: 1px solid #f1f1f3;
    &-item {
      &.comments {
        float:left;
      }
      &.content-social-icons {
        float: right;
      }
    }
  }
}
.comments {
  &__icon {
    margin-right: 5px;
    transition: all .3s ease-in;
    cursor: pointer;
    &:hover {
      &:before {
        color: #000;
      }
    }
    &:before {
      content:'\f0e6';
      font-family: FontAwesome;
      color: #464646;
      font-size: 14px;
    }
  }
  &__count {
    text-transform: uppercase;
    font-size: 14px;
    color: #999999;
    letter-spacing: 1.5px;
  }
}
.content-social-icons {
  font-size: 0;
  &__item {
    @include inlineblock(middle);
    margin-left: 20px;
  }
  &__link {
    transition: all .3s ease-in;
    &:hover {
      &:before {
        color: #000;
      }
    }
    &:before {
      font-family: FontAwesome;
      font-size: 14px;
      color: #464646;
    }
    &.content-social-icons__link--dribble {
      &:before {
        content: '\f17d ';
      } 
    }
    &.content-social-icons__link--facebook {
      &:before {
        content: '\f09a';
      } 
    }
    &.content-social-icons__link--twitter {
      &:before {
        content: '\f099';
      } 
    }
    &.content-social-icons__link--pinterest {
      &:before {
        content: '\f0d2';
      }
    }
  }
}
