/*----calendar styles----*/ 
.calendar {
  margin: 10px auto;
  border-radius:4px;
  overflow: hidden;
  width: 347px;
  box-shadow: 0px 0px 8px 0px rgba( 0, 0, 0, .45 );
  &__header {
    background-color: #404a58;
    color: #fff;
    font-size: 0;
    text-align: center;
    padding: 21px 40px 20px;
    &-title {
      font-size: 17px;
      font-weight: normal;
      position: relative;
      top: -2px;
    }
    .sprite-arrow-left-icon {
      float: left;
      cursor: pointer;
    }
    .sprite-arrow-right-icon {
      float: right;
      cursor: pointer;
    }
  }
  &__content {
    background-color: #fff;
    padding: 10px 25px;
  }
  &__table {
    width: 100%;
    text-align:center;
    margin-bottom: 15px;
    &-title {
      font-family: GothamSSm-Medium;
      font-size: 14px;
      font-weight: normal;
      color: #666666;
    }
    &-row {
      height: 40px;
    }
    &-day {
      font-family: GothamSSm-Book;
      font-size: 14px;
      width: 45px;
      cursor: pointer;
      &:hover {
        border:1px solid #4D90FE;
        -webkit-box-shadow: 0px 0px 5px  #4D90FE;
        box-shadow: 0px 0px 5px  #4D90FE;
      }
    }
    &-day.calendar__table-day--different-month {
      color: #c5c5c5;
    }
    &-day.calendar__table-day--current {
      font-weight: bold;
      font-family: GothamSSm-Medium;
      color: #ffffff;
      background-color: #fb6362;
      border-radius: 50%;
    }
    &-day.calendar__table-day--evented {
      color: #fb6362;
      font-family: GothamSSm-Medium;
      font-weight: bold;
    }
  }//calendar__table
  &__add-button {
    text-transform: uppercase;
    color: #fff;
    font-family: GothamSSm-Medium;
    font-size: 15px;
    width: 100%;
    padding: 20px;
    border-radius: 3px;
    background-color: #fb6362;
    margin-bottom: 15px;
    border: none;
    box-shadow: 1px 2px 1px 0px rgba( 0, 0, 0, .45 );
    cursor: pointer;
  }//calendar__add-button
}//calendar
