.table {
  width: 100%;
  td {
    padding: 10px 5px;
    &.speaker-header {
      padding: 20px;
    }
    &.speaker-avatar {
      text-align: center;
    }
  }
  tr:nth-child(even) {
    background: white;
  }
  tr:nth-child(odd):not(:first-child) {
    background: #f7f7f7;
  }
  thead tr {
    background: $black;
    color: white;
  }
}
