.App {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title {
  text-align: center;
  font-size: 26px;
}
input {
  margin: 5px;
}
.reminder-form {
  padding: 5px;
}
.list-item {
  display: inline-block;
}
.delete-button {
  float:right;
  padding-left: 5px;
}

/*Common calendar styles*/
.vertical-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
html {
  font-size: 62.5%;
}
body {
  background: #EFEFEF;
}
.custom-row {
  display: flex;
}
.header {
  padding:0 10px;
}
.header__title {
  text-align: center;
}
.header__menu {
  display: flex;
  justify-content: space-between;
}
.header__list {
  padding-left: 0;
  text-align:left;
}
.header__link {
  margin: 0 5px 5px;
}
.header__link.today {
  height: 34px;
}
.calendar {
  display: block;
  background: #FFFFFF;
  width: 90%;
  border: solid 1px #CCCCCC;
  margin: 50px auto;
  box-shadow: 0 0 15px 0 #C0C0C0;
  font-size: 1.3rem;
  text-align: center;
}
.calendar .calendar__nav {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
  cursor: default;
  font-size: 1.4rem;
  display: block;
  font-weight: bold;
  text-transform: uppercase;
  user-select: none;
}

/*Month view styles*/
.calendar .calendar__nav .display {
  align-items: center;
  height: 40px;
  background: #2875C7;
}
.calendar .calendar__nav .date-label {
  flex: 1;
}
.calendar .month-view {
  overflow-x: auto;
}
.calendar .calendar__nav .arrow {
  text-align: center;
  flex-basis: 15%;
  font-weight: bold;
  cursor: pointer;
  transition: background .2s;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.calendar .calendar__nav .arrow:hover {
  background: #1f5c9d;
}
.calendar .week:first-child {
  border-top: none;
}
.calendar .day-names {
  color: #2875C7;
  font-weight: bold;
  cursor: default;
  font-size: 1.2rem;
}
.calendar .day {
  display: flex;
  flex: 1 1 0%;
  min-height: 60px;
  border-left: solid 1px #CCCCCC;
  min-width: 90px;
  overflow-x: auto;
}
.calendar .week .day {
  justify-content: left;
  align-items: flex-start;
  transition: all .2s;
  padding: 5px;
  flex-direction: column;
  border-top: solid 1px #CCCCCC;
}
.day__event-item {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom:5px;
}
.calendar .day-names .day {
  justify-content: center;
  align-items: center;
}
.calendar .day-names .day:hover {
  background: inherit;
}
.calendar .day:hover {
  background: #EFEFEF;
}
/*.calendar .day:first-child {
  border-left: none;
}*/
.calendar .day.today {
  background: #dceaf8;
}
.calendar .day.different-month {
  color: #C0C0C0;
}
.calendar .day.selected {
  background: #2875C7;
  color: #FFFFFF;
}

/*WeekView styles*/
.week-view, .day-view {
  max-height: 700px;
  overflow-y: auto;
}
.week-view__day-names{
  margin-left: 89px;
}
.week-view__content, .day-view__content {
  display: flex;
}
.timeline {
  display: flex;
  flex-direction: column;
  position: relative;
  border-left: solid 1px #CCCCCC;
}
.timeline:first-child {
  border-left: none;
}
.timeline.day-slot {
  flex: 1 1 0%;
}
.day-slot.today {
  background: #dceaf8;
}
.timeline__item {
  border-top: solid 1px #CCCCCC;
  display: flex;
  justify-content: center;
  flex-direction: column;
  min-width: 89px;
  position: relative;
}
.timeline__item-minutes {
  font-weight: bold;
  color: #2875C7;
  width: 100%;
  height: 20px;
}
.timeline__item-event {
  position: absolute;
  left:-10px;
  right:-10px;
  border-radius: 10px;
  opacity: .8;
  z-index: 10;
  padding: 5px;
  word-wrap: break-word;
  text-transform: uppercase;
}
.timeline__item-event .event__content {
  text-align: left;
}
.time-gutter .timeline__item {
  align-items: center;
}
.time-gutter .timeline__item .timeline__item-event {
  display: none;
}

/*AgendaView styles*/
.agenda-view{
  overflow: auto;
}
.agenda-view__table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #DDD;
}
.agenda-view__header {
  padding: 3px 5px;
  text-align: center;
  border: 1px solid #DDD;
  width: 25%;
}
.agenda-view__item {
  padding: 5px 10px;
  vertical-align: top;
  white-space: nowrap;
  width: 25%;
  border: 1px solid #DDD;
  overflow: hidden;
  text-overflow: ellipsis;
}
.agenda-view__item, .agenda-view__header {
  min-width: 88px;
}
.agenda-view__item.agenda-view__item--link {
  text-decoration: underline;
  cursor: pointer;
}
.agenda-view__item.agenda-view__item--link:hover {
  text-decoration: none;
}
/*EventType colors*/
.Webinar {
  background-color: #5cb85c;
}
.Lecture {
  background-color: #f9f9f9;
}
.Workshop {
  background-color: #5bc0de;
}
.Deadline {
  background-color: #d9534f;
}
.Event {
  background-color: #428bca;
}
/*Modal styles*/
.modal-title {
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.event-type {
  text-align: center;
  padding: 5px;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.event-info {
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  flex-wrap: wrap;
}
.event-time {
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  margin: 10px 0;
  text-align: center;
}
.event-time, .event-speakers {
  min-width: 200px;
}
.event-time span {
  min-width: 70px;
}
.event-time span:first-child {
  text-align: left;
}
.event-detail {
  display: flex;
  justify-content: flex-start;
}
.event-detail span {
  min-width: 70px;
}
.speaker-wrapper {
  margin-bottom: 5px;
}
.speaker-wrapper img {
  margin-right: 10px;
}
.google-map{
  display: flex;
  justify-content: center;
}
.resource-title {
  text-align: center;
}

/*FeedBack styling*/
.add-comment {
  margin-bottom: 30px;
}
.comment {
  background-color: #f0f4c3 ;
  border-radius: 5px;
  margin-bottom: 20px;
  padding:10px;
}
.comment p {
  word-wrap: break-word;
}
.comment textarea, .add-comment textarea {
  margin-bottom: 10px;
}
.comment button {
  margin: 0 10px 0 0;
  opacity: 0;
  transition: opacity .3s ease-in
}
.comment:hover button {
  opacity: 1;
}
