/*font-family: 'Francois One', sans-serif;
font-family: 'Amaranth', sans-serif;
font-family: 'Chau Philomene One', sans-serif;
font-family: 'Denk One', sans-serif;*/

@import "base/reset.min.css";

* {
    box-sizing: border-box;
}

html {
    height: 95%;
    background: black;
}

body {
    background: none;
    height: 100%;
    color: white;
    margin: 0;
    padding: 0;
}

.wrapper {
    width: 100%;
    height: 100%;
}

.full-height {
    height: 100%;
}

.start-screen {
    background: url('/CrazyDolphinTeam-game-team/assets/graphic-models/start-background.png');
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: center top;
    background-position-y: 70px;
}

.play-button {
    position: fixed;
    top: 20px;
    left: 0;
}

.game-over-screen {
    height: 100%;
    background: url('/CrazyDolphinTeam-game-team/assets/graphic-models/game-over.png');
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: center top;
    background-position-y: 100px;
}

.game-screen {
    height: 100%;
    margin-top: 30px;
}

.navigation-container {
    position: fixed;
    left: 0;
    top: 70px;
    bottom: 0;
    width: 210px;
    padding: 20px 0;
}

.game-navigation {
    margin: 0 auto;
    padding-bottom: 30px;
}

.navigation-link {
    display: block;
    padding: 10px 50px;
    font-size: 40px;
    font-family: 'Denk One', sans-serif;
    text-transform: uppercase;
}

.navigation-link:hover {
    color: yellow;

}
.navigation-link.active {
    color: yellow;
    background-color: rgba(255, 255, 255, 0.2);
}

.exit-link.active {
    display: none;
}

.background-image {
  /*  background: url('/CrazyDolphinTeam-game-team/assets/graphic-models/start-background.png'); */
    background-size: auto auto;
    background-repeat: no-repeat;
    background-position: center top;
}

.no-background-image {
    background: none;
}

.background-image.play-again {
    background: url('/CrazyDolphinTeam-game-team/assets/graphic-models/game-over.png');
    background-size: auto auto;
    background-repeat: no-repeat;
    background-position: center top;
}

#myCanvas {
    margin: 0 auto;
    background-color: #162b79;
    border: 1px solid #1616a2;
}

.right {
    transform: rotate('180deg');
}

.enabled {
    display: none;
}

.disabled {
    display: flex;
}

.game-controls {
    display: flex;
    width: 500px;
    bottom: 0;
    left: calc(50% - 250px);
    margin: 50px auto;
    text-align: center;
}

.game-info {
    position: fixed;
    left: 0;
    bottom: 150px;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px 30px 0 30px;
    font-family: 'Francois One', sans-serif;
    font-size: 30px;
    text-transform: uppercase;
}

.game-info li {
    margin: 10px 0;
}

.start-button {
    margin: 0 auto;
    border: 5px solid transparent;
    padding: 10px 50px;
    outline: 0;
    border-radius: 5px;
    font-size: 50px;
    background: transparent;
    font-family: 'Denk One', sans-serif;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
    letter-spacing: 1px;
    text-shadow: none;
    transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
}

.start-button:hover {

    background: white;
    color: black;
}

.start-button:active {
    box-shadow: none;
    background: #061752;
}

.game-screen-exit {
     position: fixed;
     top: 160px;
     left: 0;
     z-index: 100;
     cursor: pointer;
 }

 .invisible {
     display: none;
 }

#packman-lives {
    list-style: none;
    display: inline-block;
}

#packman-lives li {
    display: inline-block;
    visibility: hidden;
    font-size: 0;
}

#packman-lives li::before{
    content: url("/CrazyDolphinTeam-game-team/assets/graphic-models/heart.svg");
    visibility: visible;
    color: red;
}

.achievement-digits {
    color: yellow;
    font-size: 40px;
}

.power-mode {
    color: white;
    font-family: 'Francois One', sans-serif;
    font-size: 40px;
    text-transform: uppercase;
}

.power-mode div:first-child {
    font-size: 20px;
}

.about-article {
    width: 700px;
    margin: 20px auto;
    background: white;
    color: black;
    border-radius: 5px;
    padding: 20px;
    font-family: 'Dosis', sans-serif;
    font-size: 30px;
    font-weight: 400;

}

.about-article img {
    width: 100%;
}

.about-article h2 {
    margin: 20px 0;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}
