$container-width: 1640px;
$footer-height: 410px;
$main-font: 'Hind', sans-serif;
$title-font: 'Montserrat', sans-serif;

//color palette
$dark: #212429;
$light: #ffffff;
$light-gray: #f4f4f4;
$header-bg: $dark;
$subscribe-bg: #f9f9fb;
$content-bg: #f7f7f7;
$footer-top-bg:$dark;
$footer-bottom-bg: #17191c;
